name: Terraform Apply

on:
  push:
    branches: ["main"]
    paths:
      - "iac/terraform/**"
      - ".github/workflows/terraform-apply.yml"

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (sandbox, dev, ...)"
        required: true
        default: "sandbox"

  workflow_call:
    inputs:
      environment:
        type: string
        required: true

permissions:
  id-token: write
  contents: read

env:
  WORKLOAD_IDENTITY_PROVIDER: projects/${{ vars.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ vars.GCP_WORKLOAD_IDENTITY_POOL_ID }}/providers/${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER_ID }}
  WORKING_DIRECTORY: "./iac/terraform"
  BUCKET_NAME: "${{ vars.GCP_PROJECT_ID }}-tfstate"

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ${{ vars.RUNNER_LABEL || 'ubuntu-latest' }}
    environment: ${{ inputs.environment || 'sandbox' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.4"

      - name: Configure Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: projects/${{ vars.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ vars.GCP_WORKLOAD_IDENTITY_POOL_ID }}/providers/${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER_ID }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}

      - name: Set up Google Cloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Download Plan Artifact
        run: |
          gcloud storage cp gs://'${{ env.BUCKET_NAME }}/tfplan.out' '${{ env.WORKING_DIRECTORY }}/tfplan.out'

      - name: Terraform Init
        id: init
        run: |
          terraform init -backend-config="bucket=${{ vars.GCP_PROJECT_ID }}-tfstate"
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Terraform Apply
        run: |
          terraform apply \
            -auto-approve \
            -no-color \
            -input=false './tfplan.out'

        working-directory: ${{ env.WORKING_DIRECTORY }}
